{% block changePasswordModal %}
    <div class="modal fade" tabindex="-1" role="dialog" id="change-password-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0 ps-0 py-4">
                    <h4 class="fw-bold text-center mb-0 position-absolute w-100">
                        Change password
                    </h4>
                </div>
                <div class="modal-body pt-2">
                    <form method="POST" action="/api/user/change-password" id="changepasswordform">
                        <div class="form-floating mb-3">
                            <input
                                type="password" 
                                class="form-control rounded-3" 
                                id="chp_current" 
                                name="password" 
                                placeholder="Current Password">
                            <label for="chp_current">Current Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                type="password" 
                                class="form-control rounded-3" 
                                id="chp_new" 
                                name="password-new" 
                                placeholder="New Password">
                            <label for="chp_current">New Password</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                type="password" 
                                class="form-control rounded-3" 
                                id="chp_new-repeat" 
                                name="password-new-repeat" 
                                placeholder="Repeat New Password">
                            <label for="chp_new-repeat">Repeat New Password</label>
                        </div>
                        <div class="w-100 text-center">
                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-primary" type="submit">
                                Update password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}