{% block navbar %}
    
    <nav class="navbar navbar-expand fixed-top border-bottom bg-light">
        <div class="container">
            <div class="d-flex w-100 justify-content-between">

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fw-bold font-monospace" href="/">hloudBin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/box" class="nav-link">Box</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if session == null %}
                        <li class="nav-item">
                            <a data-bs-toggle="modal" data-bs-target="#loginModal" style="cursor:pointer;" class="nav-link">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="modal" data-bs-target="#signupModal" style="cursor:pointer;" class="nav-link">Sign up</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/account" class="nav-link">{{ user.firstname }} {{ user.lastname }}</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Sign out</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}