{% block signupBlock %}
    <form method="POST" action="/api/auth/signup" id="signupForm"> {# USE AJAX!!! #}
        <div class="form-floating mb-3">
            <input
                type="text" 
                class="form-control rounded-3" 
                id="reg_username" 
                name="username" 
                placeholder="Username">
            <label for="reg_username">Username</label>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating">
                    <input
                        type="text" 
                        class="form-control rounded-3" 
                        id="reg_firstname" 
                        name="firstname" 
                        placeholder="First name">
                    <label for="reg_firstname">First name</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input 
                        type="text" 
                        class="form-control rounded-3" 
                        id="reg_lastname" 
                        name="lastname" 
                        placeholder="Last name">
                    <label for="reg_lastname">Last name</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input 
                type="email" 
                class="form-control rounded-3" 
                id="reg_email" 
                name="email" 
                placeholder="Email">
            <label for="reg_email">Email</label>
        </div>
        <div class="row mb-3">
            <div class="col">
                <div class="form-floating">
                    <input 
                        type="password" 
                        class="form-control rounded-3" 
                        id="reg_password" 
                        name="password" 
                        placeholder="Password">
                    <label for="reg_password">Password</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <input 
                        type="password" 
                        class="form-control rounded-3" 
                        id="reg_password-repeat" 
                        name="password-repeat" 
                        placeholder="Confirm Password">
                    <label for="reg_password-repeat">Confirm password</label>
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-primary" type="button" id="reg_submit">
                Sign up
            </button>
            {% for message in flash.get('error') %}
                <div id="signupErrors">
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                </div>
                
            {% endfor  %}
            <small class="text-muted">
                By clicking <span class="fst-italic">Sign up</span>, you agree to the
                <a href="/terms-of-service" class="link text-decoration-none">
                    Terms of Service
                </a>
                .
            </small><br>
            
            {% if hideModalLink != null %}
                <small class="text-muted">
                    Already a member?
                    <a
                        role="link"
                        href="/login"
                        class="link text-decoration-none">
                        Sign in
                    </a>
                    .
                </small>
            {% else  %}
                <small class="text-muted">
                    Already a member?
                    <a
                        role="button"
                        data-bs-target="#loginModal" 
                        data-bs-toggle="modal" 
                        class="link text-decoration-none">
                        Sign in
                    </a>
                    .
                </small>
            {% endif %}
            
        </div>
    </form>
{% endblock %}