{% block modals %}
    <div class="modal fade" tabindex="-1" role="dialog" id="authModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0 ps-0 py-4">
                    <h4 class="fw-bold text-center mb-0 position-absolute w-100">Sign up</h4>
                    {# <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button> #}
                </div>
                <div class="modal-body pt-2">
                    <form action="/api/signup" method="post" id="signupForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" id="suUsername" placeholder="Username">
                            <label for="suUsername">Username</label>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-3" id="suFirstName" placeholder="First name">
                                    <label for="suFirstName">First name</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control rounded-3" id="suLastName" placeholder="Last name">
                                    <label for="suLastName">Last name</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-3" id="suEmail" placeholder="Email">
                            <label for="suEmail">Email</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="password" class="form-control rounded-3" id="suPassword" placeholder="Password">
                                    <label for="suPassword">Password</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="password" class="form-control rounded-3" id="suPassword-repeat" placeholder="Repeat password">
                                    <label for="suPassword-repeat">Repeat Password</label>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 text-center">
                            <button class="w-100 mb-2 btn rounded-3 btn-primary" type="submit">Sign up</button>
                            <small class="text-muted">By clicking Sign up, you agree to the <a href="/terms-of-service" class="link text-decoration-none">terms of service</a>.</small><br>
                            <small class="text-muted">Already a member? <a onclick="$('#authModal').modal('hide'); $('#loginModal').modal('show');" class="link text-decoration-none" style="cursor: pointer;">Sign in</a>.</small>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="loginModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0 ps-0 py-4">
                    <h4 class="fw-bold text-center mb-0 position-absolute w-100">Sign in</h4>
                    {# <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button> #}
                </div>
                <div class="modal-body pt-2">
                    <form action="/api/login" method="post" id="loginForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" id="siUsernameOrEmail" placeholder="Username or Email">
                            <label for="siUsernameOrEmail">Username or Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-3" id="siPassword" placeholder="Password">
                            <label for="siPassword">Password</label>
                        </div>
                        <div class="w-100 text-center">
                            <button class="w-100 mb-2 btn rounded-3 btn-primary" type="submit">Sign up</button>
                            <small class="text-muted ">
                                {# <div class="form-check"> #}
                                    <input type="checkbox" value="" id="siRemember" class="form-check-input align-middle mt-0">
                                    <label class="form-check-label align-middle" for="siRemember">Remember me</label>
                                {# </div> #}
                            </small><br>
                            <small class="text-muted">Not a member yet? <a onclick="$('#loginModal').modal('hide'); $('#authModal').modal('show');" class="link text-decoration-none" style="cursor: pointer;">Sign up</a>.</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
