{% extends 'base.html.twig' %}

{% block title %}Explorer{% endblock %}

{% block body %}

    <div class="min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container" style="max-width: 600px">
            <h3>{% trans from 'messages' %}Upload files{% endtrans %}</h3>
            {{ form_start(explorerUploadForm) }}
            <div class="mb-3">
                {{ form_widget(explorerUploadForm.file) }}
            </div>
            <div class="form-floating">
                <button type="submit" class="btn btn-outline-dark">
                    {% trans from 'messages' %}Upload{% endtrans %}
                </button>
            </div>
            {{ form_end(explorerUploadForm) }}
        </div>
    </div>

{% endblock %}