@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";



.pt-6 {
    padding-top: 3.6rem !important;
}

.image-upload > input {
    display: none;
}

.image-upload img {
    // width: 300px;
    cursor: pointer;
    object-fit: cover;
    object-position: 0% 50%;
}