{% extends "skeleton.twig" %}

{# USES #}
{% use "components/navbar.twig" with navbar as Navbar %}


{% block content %}

    {# NAVBAR #}
    {% block navbar %}
        {{ block("Navbar") }}
    {% endblock %}

    <div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container bg-dark bg-opacity-25 rounded-3">
            <form method="post" action="/api/upl-test" id="upl-test" enctype="multipart/form-data">

                <input type="file" name="file1"/>

                <button type="submit" class="btn btn-outline-dark">Upload</button>
            </form>
        </div>
    </div>

{% endblock %}