{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% trans from 'messages' %}Terms of service{% endtrans %}{% endblock %}

{% block body %}

    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <h1>
            {% trans from 'messages' %}Terms of service{% endtrans %}
        </h1>
        
    </div>

{% endblock %}
